{% extends 'layout/index.html.twig' %}

{% block title %}
  Institutions
{% endblock %}

{% block content %}
  <section>
    <h1>{{ institution.name }}</h1>
    <ul>
      <li>
        <span>Nom :</span>
        {{ institution.name }}
      </li>
      <li>
        <span>Description :</span>
        {{ institution.description }}
      </li>
      <li>
        <span>Ville :</span>
        {{ institution.city }}
      </li>
      <li>
        <span>Adresse :</span>
        {{ institution.address }}
      </li>
    </ul>
  </section>

  <section>
    <h3>Suites</h3>
    <ul>
      {% for suite in suites %}
        <li>
          {{ suite.name }}
          <a href="/suites/{{ suite.id }}">See suite</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
