{% extends 'base.html.twig' %}

{% block title %}
  Institutions
{% endblock %}

{% block body %}
  <a href="/institutions">See all institutions</a>
  <h1>{{ institution.name }}</h1>
  <span>
    {{ institution.name }}
    {{ institution.city }}
  </span>
  <h2>Suites</h2>
  <ul>
    {% for suite in suites %}
      <li>
        <span>{{ suite.name }}</span>
        <a href="/suites/{{ suite.id }}">See suite</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
